/* 改变主题色变量 */
$--color-primary: #319795;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

.el-radio {
  display: flex !important;
  align-items: center !important;
  margin-right: 20px !important;
  .el-radio__input {
    display: flex !important;
    align-items: center !important;
  }
  .el-radio__label {
    font-weight: 600 !important;
  }
}

@import "~element-ui/packages/theme-chalk/src/index";
